.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.hamburger-left {
  flex: 1;
  display: flex;
  justify-content: start;
}

.logo-div {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.searchBox {
  flex: 1;
  display: flex;
  justify-content: end;
}

.search {
  border-radius: 10px;
  border: 2px solid #646cff;
  background: white;
  color: #646cff;
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem;
}

.search:focus {
  background: #646cff;
  color: white;
}

.search:focus::placeholder {
  color: white;
}
