* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
}

.button {
  margin: 0 auto;
  display: flex;
  margin-bottom: 4rem;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:hover {
  border-color: #646cff;
  background: #646cffd4;
}

.logo {
  height: 5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.hamburger {
  color: white;
}

.hamburger:hover {
  color: #646cffaa;
}

.scroll {
  border-radius: 100% !important;
  background: #646cff !important;
}

.scroll:hover {
  background: white !important;
}
